<footer class="site-footer">
  <div class="footer-col column">
    <ul>
      <!-- li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li -->
      <li>
        <a href="https://github.com/{{ site.username }}">
          <span class="icon github">
            {% include gh_icon.html %}
          </span>
          <span class="username">{{ site.twitter }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-col column" ng_if="talk"><ul>
    <li><a ng_click="" ng_bind="talk.title"></a></li>
    <li><span class='current-slide' ng-bind="current"></span>&nbsp;|&nbsp;<span class="totalSlides" ng-bind="slides_count"></span></li>
  </ul></div>
  <div class="footer-col column">
    <ul>
      <li toggle-remote-key><a href="remote">remote: </a><span ng-bind="remote_key"></span></li>
      <li>env:<span ng-bind="env"></span></li>
    </ul>
  </div>
</footer>
