<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="environment" content="{{site.environment}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <base href="{{ site.baseurl }}/">
  {% if site.sprockets_enabled %}
    <meta content="ios-enabled" value="true">
    <meta content="image-asset" value="{{ 'right.png' | asset_path }}">
    <meta content="image-asset" value="{{ 'left.png' | asset_path }}">
    {{ 'application' | javascript }}
    {{ 'application' | stylesheet }}
  {% else %}
    <script type='text/javascript' src="{{ "/assets/application.js" | prepend: site.baseurl }}"></script>
    <link rel='stylesheet' href="{{ "/assets/application.css" | prepend: site.baseurl }}">
  {% endif %}
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
