slide {
  display: none;
  width: 75%;
  height: 75%;
  //border: 1px dotted black;
  margin: 0 auto;
  .step {
    visibility: hidden;
  }
  &.current {
     display: block;
  }
  &.center {
    text-align: center;
  }
  &.title {
    margin-top: 10%;
    text-align: center;
    h1 {
      font-size: 300%;
    }
  }
  h1, h2 {
    margin-bottom: 2em;
  }
  li {
    margin-bottom: 2em;
  }
  p {
    margin-bottom: 2em;
  }
}
