#main {
  height: 85%;
  box-shadow: 5px 5px 3px #888;
  padding-top: 3em;
}

footer.site-footer {
  border: none;
  padding: 0;
  width: 75%;
  margin: 0 auto;
  height: 10%;
  padding: 1em;

  .footer-col {
    margin-left: 1em;
    width: 30%;
  }
}
